@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Noto Serif', sans-serif;
  --font-serif: 'Freehand', sans-serif;
}
